
/* + reset */
body{
  font-size: 1.25rem;
  color: #333;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: 1.5;
}
.container{
  margin: 0 auto;
  padding: 0 6rem;
  max-width: 76rem;
}

button{
  border: none;
  box-shadow: none;
  outline: none;
}
h1{
  font-size: 2rem;
  font-weight: bold;
}
h2{
  font-size: 1.75rem;
  font-weight: 500;
}
h1,h2,h3,h4{
  margin: 0 0 1rem;
}
body .owl-nav{
  button{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    overflow: hidden;
    outline: none;

    span{
      font-size: 0;
      background-image: url("../img/arr.svg");
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 100%;

    }

    &:before{
      content: '';
      background: linear-gradient(270deg, #0713bf, #a205aa, #b42121, #e1e60d);
      background-size: 200% 200%;
      animation: AnimationBtn 8s ease infinite;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -2;
      display: block;
      position: absolute;
      border-radius: 100%;
    }
    &:after{
      content: '';
      background: #fff;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      display: block;
      position: absolute;
      border-radius: 100%;
      z-index: -1;
    }
  }
  .owl-prev{
    right: calc(100% + 2rem);
  }
  .owl-next{
    left: calc(100% + 2rem);
    transform: rotate(180deg);
  }


}
.fancybox-content img{
  padding: 0 3rem !important;
  @media screen and (max-width: 991px) {
    padding: 0 1rem !important;
  }
}
.fancybox-navigation {
  .fancybox-button{
    background-color: transparent !important;
    div{
      background: rgba(30, 30, 30, .6);
      border-radius: 6px;
    }
  }
   .fancybox-button--arrow_left {
    padding: 24px 26px 24px 6px;
  }
   .fancybox-button--arrow_right {
    padding: 24px 6px 24px 26px;
  }
}
.fancybox-toolbar{
  border-bottom-left-radius: 6px;
  overflow: hidden;
}
.fancybox-button--download svg path{
  fill:#ff1b22;
}

@keyframes AnimationBtn {
  0%{
    background-position:0% 50%;
    transform: rotate(0deg);
  }
  50%{
    background-position:100% 50%;
    transform: rotate(360deg);
  }
  100%{
    background-position:0% 50%;
    transform: rotate(0deg);
  }
}
a{
  color: inherit;
  text-decoration: none;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  transition: .4s;
  &:hover{
    border-color: #00376b;
  }
}
ol {
  font-size: 16px;
  counter-reset: item;
  margin-bottom: 2rem;}
ol li{
  display: block ;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
ol li:before {
  content: counters(item, ".") " "; counter-increment: item
}
main{
  padding: 4.5rem 0;
}
p{
  font-weight: 300;
}
.material-icons{
  vertical-align: middle;
}
/* - rest */
header{
  width: 100%;
  z-index: 10;
  padding: .5rem 0;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.31);
  margin:  0;
  position: fixed;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  .flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: linear-gradient(270deg, #ff0001, #fd104d, #ff5722);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    opacity: .9;
  }

  .logo{
    width: 10rem;
    height: 2.5rem;
    display: block;
    margin: auto;
    border: none;
    svg{
      width: 100%;
      height: 100%;
    }
  }

  .hamburger{
    opacity: 1 !important;
    width: 26px;
    height: 26px;
    padding: 0;
    .hamburger-box{
      width: 100%;
    }
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 100%;
    height: 3px;
    background-color: #521616 !important;
  }
  .hamburger-inner::after{
    width: 70%;
    left: auto;
    right: 0;
  }
  .is-active .hamburger-inner::after{
    width: 100%;
  }

  .menu-h{
    position: fixed;
    right: 0;
    top: 56px;
    bottom: 0;
    height: 100vh;
    transition: .4s;
    background: #fff;
    margin: 0;
    z-index: -2;
    width: 0;
    overflow: hidden;
    //padding-top: 2rem;
    padding-left: 0;
    li{
      list-style-type: none;
      margin-bottom:0;

      a{
        font-weight: normal;
        font-size: 18px;
        padding:.75rem 2rem;
        width: 100%;
        display: block;
        border-bottom: 1px solid #f0f0f0;
        color: #333;
        &:hover{

          background: #f0f0f0;
        }

      }
    }
  }
  &.open{
    .menu-h{
      width: 18rem;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.31);
    }
  }
}

@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

footer{
  background-color: #f1f1f1;
  padding: 2.5rem 0;
  .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a{
    color: #00376b;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
  }
  p{
    font-size: 14px;
    margin: 0;
  }
}

/* + gallery */

.gallery{
  &:not(:last-child){
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
  }
  h2{
    margin-bottom: 1.5rem;
  }
  .subGallery{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
    p{
      font-weight: 500;
      margin: 0 0 1.5rem;
      font-size: 17px;
    }
    a{
      color: #8f8f8f;
      display: table;
      margin: 0 0 1.5rem;
      font-size: 17px;
      &:hover{
        border-color: transparent;
      }
    }
  }
}
/* - gallery */
/* + owl-gallery */
.owl-gallery{
  position: relative;
  .item{
    a{
      display: block;
      position: relative;
      width: 100%;
      padding-top: 178%;
      border-radius: 8px;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }
}
/* - owl-gallery */

/* - main-text */
.main-text{
  padding: 3rem 0;
  h1{
    font-weight: bold;
  }
  .text{
    font-size: 1rem;
    max-width: 66%;
    color: #8f8f8f;
  }
}

/* + main-text */